<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>668260941181-o3mm9v9b53s5pu0mvc9pn0qlq386acta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.668260941181-o3mm9v9b53s5pu0mvc9pn0qlq386acta</string>
	<key>API_KEY</key>
	<string>AIzaSyBO1XVyR4azpUYnIaFOYzxFAa3UN3Xx6EQ</string>
	<key>GCM_SENDER_ID</key>
	<string>668260941181</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tobeu.queuemanager</string>
	<key>PROJECT_ID</key>
	<string>qmanager-d4bca</string>
	<key>STORAGE_BUCKET</key>
	<string>qmanager-d4bca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:668260941181:ios:3385f54e8f6d11a77be014</string>
	<key>DATABASE_URL</key>
	<string>https://qmanager-d4bca.firebaseio.com</string>
</dict>
</plist>